/** CSS STYLE **/
@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.woff2");
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Regular.woff2");
}

:root {
  --white: #fff;
  --white50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-weight: 400;
}

body {
  color: var(--dark);
  font: 16px/1.6em OpenSans, sans-serif;
}

h1,
h2,
h3 {
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 32px;
}

.header {
  position: relative;

  background-color: var(--light);
}

.container {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
}

.section {
  position: relative;

  padding: 100px 0;
}

.section-bg::before {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background: url("../assets/images/background.png") 0 0/cover no-repeat;

  opacity: 0.1;

  content: "";
}

.header-title {
  margin-bottom: 181px;
}

.color-orange {
  color: var(--primary);
}

.hero-img {
  position: absolute;
  top: -45px;
  right: -270px;

  height: 525px;
}

.header-description {
  display: flex;
  gap: 30px;
}

.description-column {
  flex-basis: 50%;
}

.description-text {
  margin-top: 25px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

.header-button {
  width: 148px;
  height: 49px;
  margin-top: 40px;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-video {
  padding-bottom: 500px;
}

.video {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1;

  margin: auto;
}

.section-summary {
  background-color: var(--primary-dark);
}

.summary-title {
  font-size: 52px;
}

.summary-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex: 0 0 350px;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 24px;

  background-color: var(--light);
}

.card-number {
  margin-bottom: 40px;

  color: var(--primary-dark);
  font-size: 64px;
}

.card-title {
  margin-bottom: 16px;

  color: var(--primary);
}

.cards-description {
  padding: 0;

  color: var(--white);

  background-color: var(--primary-dark);
}

.section-ikea {
  background-color: var(--light);
}

.ikea-summary {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.ikea-image {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.ikea-image img {
  vertical-align: middle;
}

.ikea-subtitle {
  color: var(--dark50);
  font-size: 24px;
  font-family: Neucha, cursive;
  line-height: 29px;
}

.ikea-title {
  margin-bottom: 30px;
}

.ikea-description-text {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 41px;
}

.how {
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);
  font: 14px/16.8px OpenSans, sans-serif;
  text-transform: uppercase;

  background-color: var(--brown);
}

.ikea-text {
  display: flex;
  gap: 30px;
}

.ikea-text-item {
  flex-basis: 50%;
}
